body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.main-wrapper {
    display: block;
    width: 1024px;
    margin: 0 auto;
}

.header,
.footer {
    display: block;
    height: 100px;
    background: #c1c1c1;
}

.hidden {
    display: none;
}

/*класически подход за clear или изчистване на
float-нати контейнери с overflow: hidden*/
.wrapper {
    position: relative;
    display: block;
    background: green;
    overflow: hidden;
}

.wrapper-with-clearfix {
    position: relative;
    display: block;
    background: #2B2741;
}

.wrapper-with-clearfix:after {
    content: '';
    clear: both;
    display: table;
    color: #fff;
}

.wrapper-with-clearfix:before {
    content: '';
    clear: both;
    display: table;
    color: #fff;
}

.items-for-sell-wrap {
    display: block;
    background: #c3c3c3;
    padding: 10px 5px;
    overflow: hidden;
}

.float-left {
    position: relative;
    display: block;
    float: left;
    padding: 10px 5px;
}

.item-for-sell {
    width: 10%;
}

.item-for-sell img {
    width: 100%;
    display: inline-block;
}

.float-left:first-child {
    padding-left: 0;
}

.float-left + .float-left {
    padding-right: 0;
}

.article,
.testimonial {
    display: block;
    height: 100px;
    margin: 0 0 10px 0;
    border-radius: 10px;
    background: red;
}

.testimonial {
    background: #9696AE;
}

.article:last-child {
    margin-bottom: 0;
}

.col-70-percents .article {
    background: purple;
}

.col-30-percents .article {
    background: red;
}

.badge {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 90px;
    left: 50%;
    margin: 0 0 0 -25px;
    top: -25px;
    background: #000;
}

/*10 column grid in pixels*/
.col-1 { width: 128px; }
.col-2 { width: 256px; }
.col-3 { width: 384px; }
.col-4 { width: 512px; }
.col-5 { width: 640px; }
.col-6 { width: 768px; }
.col-7 { width: 896px; }
.col-8 { width: 1024px; }
.col-9 { width: 1152px; }
.col-10 { width: 1280px; }

/*10 column grid in percetages*/
.col-1-p { width: 10%; }
.col-2-p { width: 20%; }
.col-3-p { width: 30%; }
.col-4-p { width: 40%; }
.col-5-p { width: 50%; }
.col-6-p { width: 60%; }
.col-7-p { width: 70%; }
.col-8-p { width: 80%; }
.col-9-p { width: 90%; }
.col-10-p { width: 100%; }

/*@media screen and (max-width: 450px) and (max-width: 850px) {

}*/

/*tablet view landscape*/
@media screen and (max-width: 1024px) {
    .col-7-p,
    .col-3-p { width: 50%; }

    .main-wrapper {
        width: auto;
        margin: 0;
    }
}

/*tablet view potrait и големи тилифони*/
@media screen and (max-width: 768px) {
    .col-7-p,
    .col-3-p { width: 100%; }
}

/*портрет на телефон */
@media screen and (max-width: 468px) {
    .col-7-p,
    .col-3-p { width: 100%; }
}

/*retina display спефицично условие*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .article,
    .testimonial {
        background: green;
    }
}