/*най-слаб селектор*/
article {
    background: #c1c1c1;
}

/*слаб селектор*/
.section-acticle {
    background: green;
}

/*два клас селектора*/
.most-important.section-acticle {
    background: blue;
}

/*силен селектор с id*/
#specific-section {
    background: red;
}

/*никога да не го ползвам */
#specific-section {
    background: red !important;
}

/*селектиране на дете*/
.section-acticle .article-title{
    background: #c3c3c3;
}

/*избиране на директно дете */
.section-acticle > .article-title {
    color: purple;
}

/*избиране на всички братя или сестри на елемента*/
.article-title ~ .article-content {
    background: #30402E;
}

/*избиране на следващ брат или сестра елемент*/
.article-title + .article-content {
    background: #00CAFF;
}